#Temp files
*~
#Mesh files
3d_refined.mesh3d
3d_original.mesh3d

#Result files
Results/*

# Bin file
Laplacian3D

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
